@keyframes giro {
  0% {
    transform: rotateY(72deg); }
  25% {
    transform: rotateY(144deg); }
  50% {
    transform: rotateY(216deg); }
  75% {
    transform: rotateY(288deg); }
  100% {
    transform: rotateY(360deg); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Amaranth';
  color: #663B3B; }

/*Boton formulario*/
/*Boton plan, rutina, ropa y accesorios */
/*Boton Index*/
/*align bootstrap nav pages and color (inicio, ropa, accesorios)*/
nav .menuIndex {
  margin-bottom: 0; }
  nav .menuIndex li .index1 {
    color: #663B3B; }
  nav .menuIndex li .plan {
    color: #663B3B; }
  nav .menuIndex li .rutina {
    color: #663B3B; }
  nav .menuIndex li .accesorios {
    color: #663B3B; }
  nav .menuIndex li .enchufate {
    color: #663B3B; }
  nav .menuIndex li .formularioss {
    color: #663B3B; }
  nav .menuIndex li .ropa {
    color: #663B3B; }
  nav .menuIndex li .colorSubir {
    color: #663B3B; }

/*Background image for Header*/
.headerEnchufate {
  background-image: url(../assets/imagenes/fondoenchufate.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40rem;
  background-position: top; }

.headerAccesorios {
  background-image: url(../assets/imagenes/fondoaccesorios.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40rem;
  background-position: top; }

.headerContacto {
  background-image: url(../assets/imagenes/fondocontacto.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40rem;
  background-position: top; }

.headerIndex {
  background-image: url(../assets/imagenes/fondoindex.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40rem;
  background-position: top; }

.headerPlan {
  background-image: url(../assets/imagenes/fondonutri.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40rem;
  background-position: top; }

.headerRopa {
  background-image: url(../assets/imagenes/fondoropa.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40rem;
  background-position: top; }

.headerRutina {
  background-image: url(../assets/imagenes/fondoruti.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40rem;
  background-position: top; }

/*Background image for Index Boxes*/
.cajaImagenRopa {
  background-image: url(../assets/imagenes/ropadeportiva.png);
  border: 0.5rem solid #EBB995;
  height: 25rem;
  width: 20rem; }

.cajaImagenRutina {
  background-image: url(../assets/imagenes/rutina.png);
  border: 0.5rem solid #EBB995;
  height: 25rem;
  width: 20rem; }

.cajaImagenPlan {
  background-image: url(../assets/imagenes/nutricion.png);
  border: 0.5rem solid #EBB995;
  height: 25rem;
  width: 20rem; }

.cajaImagenAccesorios {
  background-image: url(../assets/imagenes/accesorios.png);
  border: 0.5rem solid #EBB995;
  height: 25rem;
  width: 20rem; }

/*Solo index*/
.titulo2 {
  font-size: 2.9375rem;
  font-weight: bolder;
  color: #4e2f2f;
  margin-top: 5rem;
  margin-left: 2rem;
  width: 23.125rem; }

/*Todos*/
header div .fondoTitulo1 {
  display: flex;
  flex-direction: none;
  justify-content: space-between;
  align-items: center;
  flex-wrap: none;
  padding-right: .625rem;
  background-color: rgba(249, 233, 221, 0.6); }
  header div .fondoTitulo1 .titulo1 {
    font-size: 5rem;
    padding-left: 1.25rem;
    font-weight: bold;
    margin-bottom: 0; }
  header div .fondoTitulo1 nav .menuIndex li {
    display: inline; }
    header div .fondoTitulo1 nav .menuIndex li a {
      font-size: 1.5625rem;
      text-decoration: none;
      list-style: none;
      padding-left: 1.25rem; }
      header div .fondoTitulo1 nav .menuIndex li a:hover {
        color: #ad4f11; }

header div .tituloServicios {
  font-size: 2.9375rem;
  font-weight: lighter;
  background-color: rgba(249, 233, 221, 0.6);
  width: 23rem;
  padding: 1rem;
  margin: 7rem 3rem; }

header .fraseDePagina {
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
  display: flex;
  justify-content: center;
  background-color: #F9E9DD;
  align-items: center; }
  header .fraseDePagina .titulo3 {
    font-weight: lighter;
    padding: 1.5625rem;
    font-size: 1.5625rem;
    text-align: center; }
  header .fraseDePagina a img {
    height: 4.2rem;
    width: 7.5rem;
    animation-name: giro;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 10s;
    animation-delay: 0s;
    height: 4.2rem;
    width: 7.5rem; }

main .backgroundColor {
  background-image: linear-gradient(#f7decb, #ffffff); }
  main .backgroundColor .flechaAbajo {
    display: flex;
    flex-direction: none;
    justify-content: center;
    align-items: center;
    flex-wrap: none;
    padding-top: 1.25rem; }
    main .backgroundColor .flechaAbajo a img {
      height: 4.2rem;
      width: 7.5rem;
      animation-name: giro;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-duration: 10s;
      animation-delay: 0s; }
  main .backgroundColor .titulo4 {
    font-size: 2.9375rem;
    text-align: center;
    padding: 1.875rem; }
  main .backgroundColor .contenedorQueOfrecemos {
    display: flex;
    flex-direction: none;
    justify-content: space-evenly;
    align-items: none;
    flex-wrap: wrap; }
    main .backgroundColor .contenedorQueOfrecemos div div div .titulo5 {
      font-size: 1.4rem;
      background-color: rgba(249, 233, 221, 0.6);
      padding: .625rem;
      margin-top: 10%;
      text-align: center; }
    main .backgroundColor .contenedorQueOfrecemos div .contenedorResumenServicios {
      display: flex;
      flex-direction: column;
      justify-content: none;
      align-items: none;
      flex-wrap: none; }
      main .backgroundColor .contenedorQueOfrecemos div .contenedorResumenServicios .resumenServicios {
        font-size: 1.20rem;
        font-weight: lighter;
        padding: 1.1rem 0.5rem;
        margin-bottom: 0;
        width: 20rem;
        text-align: center;
        height: 7rem;
        border-left: 0.5rem solid #EBB995;
        border-right: 0.5rem solid #EBB995; }
      main .backgroundColor .contenedorQueOfrecemos div .contenedorResumenServicios .masInfo {
        text-decoration: none;
        color: #663B3B;
        background-color: #EBB995;
        text-align: center;
        font-size: 1.40rem;
        font-weight: bold;
        margin-bottom: 1rem;
        height: 2.2rem; }
        main .backgroundColor .contenedorQueOfrecemos div .contenedorResumenServicios .masInfo:hover {
          font-size: 1.6rem;
          transition: 0.5s; }

main section .flechaAbajo {
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
  padding-top: 1.25rem; }
  main section .flechaAbajo a img {
    height: 4.2rem;
    width: 7.5rem;
    animation-name: giro;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 10s;
    animation-delay: 0s; }

main section div .titulo4 {
  font-size: 2.9375rem;
  text-align: center;
  padding: 1.875rem; }

main section div .gridMusica {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: "textoUno textoUno photo photo textoDos textoDos" "textoUno textoUno photo photo textoDos textoDos" "textoUno textoUno photo photo textoDos textoDos" "textoUno textoUno photo photo clickAqui clickAqui" "textoUno textoUno photo photo clickAqui clickAqui";
  width: 100%;
  height: 34.375rem;
  background-color: #F6CDA0; }
  main section div .gridMusica .texto1, main section div .gridMusica .texto2 {
    grid-area: textoUno;
    justify-self: center;
    align-self: center;
    text-align: center;
    background-color: #F6CDA0;
    margin: 7rem;
    font-size: 1.5625rem;
    order: 2; }
  main section div .gridMusica .imagenMusica {
    grid-area: photo;
    justify-self: center;
    order: 1; }
  main section div .gridMusica .texto2 {
    grid-area: textoDos;
    margin: 8rem;
    order: 3; }
  main section div .gridMusica .clickAqui {
    grid-area: clickAqui;
    justify-self: center;
    align-self: center;
    font-size: 1.875rem;
    background-color: #F9E9DD;
    color: #663B3B;
    padding: .9375rem;
    font-weight: bold;
    text-decoration: none;
    order: 4; }
    main section div .gridMusica .clickAqui:active {
      font-size: 1.7rem;
      background-color: #d3bba9; }

main section .opiniones {
  background-color: linear-gradient #F6CDA0, #ffffff; }
  main section .opiniones .flechaAbajo {
    display: flex;
    flex-direction: none;
    justify-content: center;
    align-items: center;
    flex-wrap: none;
    padding-top: 1.25rem; }
    main section .opiniones .flechaAbajo a img {
      height: 4.2rem;
      width: 7.5rem;
      animation-name: giro;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-duration: 10s;
      animation-delay: 0s; }
  main section .opiniones .titulo6 {
    font-size: 2.9375rem;
    padding: 2rem;
    text-align: center; }
  main section .opiniones div div .cadaOpinion p {
    font-size: 1.1rem;
    font-weight: lighter;
    text-align: center;
    padding: 1rem 0 2rem 0;
    margin: 0 5.5rem;
    font-style: italic; }
  main section .opiniones div div .cadaOpinion h6 {
    font-size: 1.25rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1.875rem; }
  main section .opiniones div button .carousel-control-prev-icon {
    background-image: url(../assets/imagenes/iconoprevio.png); }
  main section .opiniones div button .carousel-control-next-icon {
    background-image: url(../assets/imagenes/icono.png); }

.mainFormulario {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  flex-wrap: none; }
  .mainFormulario .tituloFormulario {
    font-size: 1.5rem;
    padding: 2rem 0rem 1rem 0rem;
    text-align: center; }
  .mainFormulario .contenedorFormulario {
    display: flex;
    flex-direction: none;
    justify-content: center;
    align-items: none;
    flex-wrap: none; }
    .mainFormulario .contenedorFormulario .flexFormulario {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: none;
      flex-wrap: none; }
      .mainFormulario .contenedorFormulario .flexFormulario input, .mainFormulario .contenedorFormulario .flexFormulario textarea {
        padding: .625rem;
        margin: .625rem;
        width: 30rem; }
        .mainFormulario .contenedorFormulario .flexFormulario input:focus, .mainFormulario .contenedorFormulario .flexFormulario textarea:focus {
          background-color: #F9E9DD; }
      .mainFormulario .contenedorFormulario .flexFormulario textarea:focus {
        background-color: #F9E9DD; }
      .mainFormulario .contenedorFormulario .flexFormulario .botonEnviar {
        font-size: 1.875rem;
        background-color: #EBB995;
        width: 9.375rem;
        margin: .625rem; }
        .mainFormulario .contenedorFormulario .flexFormulario .botonEnviar:active {
          font-size: 1.7rem;
          background-color: #d09d79; }
    .mainFormulario .contenedorFormulario section .formasDeContacto {
      font-size: 1.25rem;
      font-weight: bold;
      padding: 1.5rem;
      text-align: center; }
    .mainFormulario .contenedorFormulario section .mailDeContacto {
      text-align: center;
      font-weight: lighter;
      width: 30rem; }
    .mainFormulario .contenedorFormulario section a .contactoWhatsapp {
      margin-left: 50%;
      margin-bottom: 1.25rem; }

.gridEnchufate {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(13, 1fr);
  width: 100%;
  height: 70rem;
  grid-template-areas: "tituloGim tituloGim tituloGim tituloGim tituloGim tituloGim" "tituloGim tituloGim tituloGim tituloGim tituloGim tituloGim" "musicaGim musicaGim musicaGim imagenGim1 imagenGim2 imagenGim3" "musicaGim musicaGim musicaGim imagenGim1 imagenGim2 imagenGim3" "musicaGim musicaGim musicaGim imagenGim1 imagenGim2 imagenGim3" "musicaGim musicaGim musicaGim imagenGim4 imagenGim5 imagenGim6" "musicaGim musicaGim musicaGim imagenGim4 imagenGim5 imagenGim6" "musicaGim musicaGim musicaGim imagenGim4 imagenGim5 imagenGim6" "musicaGim musicaGim musicaGim imagenGim7 imagenGim8 imagenGim9" "musicaGim musicaGim musicaGim imagenGim7 imagenGim8 imagenGim9" "musicaGim musicaGim musicaGim imagenGim7 imagenGim8 imagenGim9" "musicaGim musicaGim musicaGim aEntrenar aEntrenar aEntrenar" "musicaGim musicaGim musicaGim aEntrenar aEntrenar aEntrenar"; }
  .gridEnchufate .tituloGim {
    grid-area: tituloGim;
    justify-self: center;
    align-self: center;
    font-size: 2rem; }
  .gridEnchufate .musicaGim {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: none;
    grid-area: musicaGim; }
    .gridEnchufate .musicaGim iframe {
      height: 5.625rem;
      width: 40rem; }
  .gridEnchufate .imagenGim1, .gridEnchufate .imagenGim2, .gridEnchufate .imagenGim3, .gridEnchufate .imagenGim4, .gridEnchufate .imagenGim5, .gridEnchufate .imagenGim6, .gridEnchufate .imagenGim7, .gridEnchufate .imagenGim8, .gridEnchufate .imagenGim9 {
    grid-area: imagenGim1;
    justify-self: center;
    align-self: center; }
  .gridEnchufate .imagenGim2 {
    grid-area: imagenGim2; }
  .gridEnchufate .imagenGim3 {
    grid-area: imagenGim3; }
  .gridEnchufate .imagenGim4 {
    grid-area: imagenGim4; }
  .gridEnchufate .imagenGim5 {
    grid-area: imagenGim5; }
  .gridEnchufate .imagenGim6 {
    grid-area: imagenGim6; }
  .gridEnchufate .imagenGim7 {
    grid-area: imagenGim7; }
  .gridEnchufate .imagenGim8 {
    grid-area: imagenGim8; }
  .gridEnchufate .imagenGim9 {
    grid-area: imagenGim9; }
  .gridEnchufate .aEntrenar {
    grid-area: aEntrenar;
    justify-self: center;
    align-self: top;
    font-size: 2rem; }

main section section p {
  font-size: 1.25rem;
  font-weight: bold;
  padding: 1.4rem;
  padding-top: 2rem; }

main section section .items {
  margin: 0rem 5.5rem;
  list-style-image: url(../assets/imagenes/icono.png); }
  main section section .items li {
    padding: 0.7rem; }

main .botonTienda {
  display: inline-block;
  font-size: 1.5rem;
  text-align: center;
  background-color: #EBB995;
  color: #663B3B;
  text-decoration: none;
  padding: 1rem;
  margin: 1rem 0rem 1rem 4.5rem; }
  main .botonTienda:active {
    font-size: 1.3rem;
    background-color: #d09d79; }

main div .contenedorRopa1 div .categoriasAccesoriosRopa {
  font-size: 1.875rem;
  padding-top: 1.875rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center; }

main div .contenedorRopa1 div div img {
  height: 14rem;
  width: 14rem; }

main .contenedorBoton {
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: none;
  flex-wrap: none; }
  main .contenedorBoton .botonTienda {
    display: inline-block;
    font-size: 1.5rem;
    text-align: center;
    background-color: #EBB995;
    color: #663B3B;
    text-decoration: none;
    padding: 1rem;
    margin: 1rem 0rem 1rem 4.5rem; }
    main .contenedorBoton .botonTienda:active {
      font-size: 1.3rem;
      background-color: #d09d79; }

.pieDePagina {
  display: flex;
  flex-direction: none;
  justify-content: space-between;
  align-items: center;
  flex-wrap: none;
  background-color: #F9E9DD;
  padding: 1.875rem; }
  .pieDePagina .contenedorAccesoRapido {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: none;
    flex-wrap: none; }
    .pieDePagina .contenedorAccesoRapido a {
      text-decoration: none;
      color: #663B3B;
      list-style: none;
      font-size: 1.20rem; }
      .pieDePagina .contenedorAccesoRapido a:hover {
        color: #ad4f11; }
  .pieDePagina .contenedorRedesSociales {
    display: flex;
    flex-direction: right;
    justify-content: none;
    align-items: none;
    flex-wrap: none; }
    .pieDePagina .contenedorRedesSociales .seguinos {
      font-size: 1.20rem;
      text-align: right;
      font-weight: lighter;
      align-self: center; }
    .pieDePagina .contenedorRedesSociales .redes li {
      display: inline;
      text-decoration: none;
      list-style: none; }

/* "@medias 1285 index */
@media (max-width: 1285px) {
  main section div .gridMusica .texto1, main section div .gridMusica .texto2 {
    margin: 3rem; }
  main section div .gridMusica .texto2 {
    margin: 4rem; } }

/* "@medias 1275 enchufate */
@media (max-width: 1275px) {
  .gridEnchufate .musicaGim iframe {
    width: 30rem; } }

/* "@medias 1045 enchufate */
@media (max-width: 1045px) {
  .gridEnchufate .musicaGim iframe {
    width: 22rem; } }

/* "@medias 1024 todos */
@media (max-width: 1024px) {
  header div .fondoTitulo1 {
    display: block; }
  /* "@medias 1024 index */
  main .backgroundColor .contenedorQueOfrecemos {
    display: flex;
    flex-direction: none;
    justify-content: space-evenly;
    align-items: none;
    flex-wrap: wrap; }
    main .backgroundColor .contenedorQueOfrecemos div div div {
      height: 30rem;
      width: 25rem; }
    main .backgroundColor .contenedorQueOfrecemos div .contenedorResumenServicios .resumenServicios {
      width: 25rem; }
  /* "@medias 1024 ropa */
  main .contenedorBoton .botonTienda {
    margin: 1rem 0rem 1rem 1rem; }
  /* "@medias 1024 enchufate */
  .gridEnchufate {
    gap: .3125rem; }
    .gridEnchufate .musicaGim iframe {
      height: 5.625rem; }
    .gridEnchufate .responsiveImage {
      padding-right: .625rem; }
  /* "@medias 1024 formulario */
  .mainFormulario .contenedorFormulario .flexFormulario input, .mainFormulario .contenedorFormulario .flexFormulario textarea {
    width: 25rem; }
  .mainFormulario .contenedorFormulario .flexFormulario textarea {
    width: 25rem; }
  .mainFormulario .contenedorFormulario section .formasDeContacto {
    padding-left: 0;
    padding-right: 0; }
  .mainFormulario .contenedorFormulario section .mailDeContacto {
    width: 25rem; }
  .mainFormulario .contenedorFormulario section .contactoWhatsapp {
    margin-left: 12rem; } }

/* "@medias 1000 enchufate */
@media (max-width: 1000px) {
  .gridEnchufate .musicaGim iframe {
    width: 15rem; } }

/* "@medias 908 index */
@media (max-width: 908px) {
  main section div .gridMusica .texto1, main section div .gridMusica .texto2 {
    margin: 1rem;
    font-size: 1.3rem; }
  main section div .gridMusica .texto2 {
    margin: 1rem;
    font-size: 1.3rem; } }

/* "@medias 840 enchufate */
@media (max-width: 840px) {
  .gridEnchufate .musicaGim iframe {
    width: 11rem; } }

/* "@medias 828 formulario */
@media (max-width: 828px) {
  .mainFormulario .contenedorFormulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: none;
    flex-wrap: none;
    justify-items: center; }
    .mainFormulario .contenedorFormulario .flexFormulario {
      display: flex;
      flex-direction: none;
      justify-content: center;
      align-items: none;
      flex-wrap: none;
      justify-items: center; }
      .mainFormulario .contenedorFormulario .flexFormulario input, .mainFormulario .contenedorFormulario .flexFormulario textarea {
        justify-self: center;
        margin-top: 0.625; }
      .mainFormulario .contenedorFormulario .flexFormulario textarea {
        justify-self: center;
        margin-top: 0.625; } }

/* "@medias 780 enchufate */
@media (max-width: 780px) {
  .gridEnchufate {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas: "tituloGim" "musicaGim" "musicaGim" "musicaGim" "musicaGim" "musicaGim" "musicaGim" "musicaGim" "musicaGim" "musicaGim" "musicaGim" "aEntrenar";
    width: 100%;
    height: 76rem; }
    .gridEnchufate .musicaGim iframe {
      height: 5.625rem;
      width: 20rem; }
    .gridEnchufate .responsiveImage {
      display: none; } }

/* "@medias 768 todos */
@media (max-width: 768px) {
  header div .fondoTitulo1 .titulo1 {
    font-size: 4rem; }
  header div .fondoTitulo1 nav .menuIndex li a {
    font-size: 1.35rem; }
  /* "@medias 768 todos salvo index */
  header div .tituloServicios {
    font-size: 2rem;
    width: 15rem; } }

/* "@medias 620 index */
@media (max-width: 620px) {
  header div .titulo2 {
    font-size: 2.4rem;
    width: 20rem; }
  main .backgroundColor .titulo4 {
    font-size: 2rem; }
  main section div .titulo4 {
    font-size: 2rem; }
  main section div .gridMusica {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr 1fr;
    grid-template-areas: "textoUno" "photo" "textoDos" "clickAqui";
    width: 100%;
    height: 57rem;
    background-color: #F6CDA0; }
    main section div .gridMusica .imagenMusica {
      width: 25rem; }
  main section .opiniones .titulo6 {
    font-size: 2rem; } }

/* "@medias 449 index */
@media (max-width: 449px) {
  .headerIndex {
    background-position: left; }
  section .opiniones div div .cadaOpinion {
    font-size: 1rem; } }

/* "@medias 426 todos */
@media (max-width: 426px) {
  header div .fondoTitulo1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: none;
    flex-wrap: none;
    height: 11.875rem; }
    header div .fondoTitulo1 nav .menuIndex {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(4, 1fr);
      grid-template-areas: "index1 ropa" "plan rutina" "accesorios enchufate" "formularioss formularioss";
      width: 100%;
      height: 3.75rem;
      justify-content: center;
      justify-items: center; }
      header div .fondoTitulo1 nav .menuIndex li {
        height: 1.7rem; }
      header div .fondoTitulo1 nav .menuIndex .index1 {
        grid-area: index1; }
      header div .fondoTitulo1 nav .menuIndex .ropa {
        grid-area: ropa; }
      header div .fondoTitulo1 nav .menuIndex .plan {
        grid-area: plan; }
      header div .fondoTitulo1 nav .menuIndex .rutina {
        grid-area: rutina; }
      header div .fondoTitulo1 nav .menuIndex .accesorios {
        grid-area: accesorios; }
      header div .fondoTitulo1 nav .menuIndex .enchufate {
        grid-area: enchufate; }
      header div .fondoTitulo1 nav .menuIndex .formularioss {
        grid-area: formularioss;
        justify-self: center; }
  /* "@medias 425 dieta(plan) */
  main section section .items {
    margin-left: 5rem;
    margin-right: 1rem; }
  /* "@medias 425 enchufate */
  .gridEnchufate .tituloGim {
    grid-area: tituloGim;
    justify-self: center;
    align-self: center;
    font-size: 1.5rem; }
  .gridEnchufate .musicaGim {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: none;
    flex-wrap: none;
    grid-area: musicaGim;
    justify-self: center; }
    .gridEnchufate .musicaGim iframe {
      height: 5.625rem;
      width: 20rem; }
  /* "@medias 425 todas no index */
  .fraseDePagina .titulo3 {
    padding: 1.4rem; }
  /* "@medias 425 formulario */
  .mainFormulario .tituloFormulario {
    font-size: 1.2rem; }
  .mainFormulario .contenedorFormulario .flexFormulario input, .mainFormulario .contenedorFormulario .flexFormulario textarea {
    width: 23rem; }
  .mainFormulario .contenedorFormulario .flexFormulario textarea {
    width: 23rem; } }

/* "@medias 400 index */
@media (max-width: 400px) {
  main .backgroundColor .contenedorQueOfrecemos div div div {
    height: 25rem;
    width: 20rem; }
  main .backgroundColor .contenedorQueOfrecemos div .contenedorResumenServicios .resumenServicios {
    width: 20rem; }
  main section div .gridMusica .imagenMusica {
    width: 20rem; }
  /* "@medias 400 formulario */
  .mainFormulario .contenedorFormulario .flexFormulario input, .mainFormulario .contenedorFormulario .flexFormulario textarea {
    width: 19rem; }
  .mainFormulario .contenedorFormulario .flexFormulario textarea {
    width: 19rem; }
  .mainFormulario .contenedorFormulario section .mailDeContacto {
    width: 19rem; }
  .mainFormulario .contenedorFormulario section a .contactoWhatsapp {
    margin-left: 50%; } }

/* "@medias 375 footer todos */
@media (max-width: 376px) {
  .pieDePagina .contenedorRedesSociales .seguinos {
    display: none; } }

/* "@medias 368 index */
@media (max-width: 360px) {
  main section div .gridMusica .imagenMusica {
    width: 18rem; } }

/* "@medias 350 index */
@media (max-width: 350px) {
  header div .titulo2 {
    font-size: 2rem;
    width: 12rem; }
  main section div .titulo4 {
    font-size: 2rem;
    padding: 1.5rem; }
  main section div .gridMusica {
    grid-template-rows: 1fr 2fr 1fr 1fr;
    height: 54rem; }
  .pieDePagina {
    padding: 1rem; }
    .pieDePagina .contenedorRedesSociales .seguinos {
      font-size: 1.3rem; }
    .pieDePagina .contenedorRedesSociales .redes li a {
      padding-left: 0.5rem; } }

/* "@medias 330 dieta(plan) */
@media (max-width: 330px) {
  header div .tituloServicios {
    margin-left: 1rem; }
  header .fraseDePagina .titulo3 {
    padding: 0.3;
    font-size: 1.5rem; }
  main section section .items {
    margin: 0rem 2rem; } }

/* "@medias 320 rutina*/
@media (max-width: 320px) {
  header .fraseDePagina {
    display: block; }
    header .fraseDePagina a img {
      margin-left: 6.5rem; }
  /* "@medias 320 enchufate */
  .gridEnchufate {
    width: 100%;
    height: 71rem; } }
