@mixin backgroundHeader{
background-repeat: no-repeat;
background-size: cover;
height: 40rem;
background-position: top;
}

// @mixin backgroundIndexMQ449{
// background-position: left;
// }

@mixin indexBoxes{
border: 0.5rem solid $background-color2;
height: 25rem;
width: 20rem;
}

@mixin Flechaabajo{
height: 4.2rem;
width: 7.5rem;
animation-name: giro;
animation-iteration-count: infinite;
animation-timing-function: linear;
animation-duration: 10s;
animation-delay: 0s;
}

@keyframes giro{
    0%{
        transform:rotateY(72deg);
    }
    25%{
        transform:rotateY(144deg);
    }
    50%{
        transform:rotateY(216deg);
    }
    75%{
        transform:rotateY(288deg);
    }
    100%{
        transform:rotateY(360deg);
    }
}
