@mixin backgroundHeader{
background-repeat: no-repeat;
background-size: cover;
height: 40rem;
background-position: top;
}

@mixin backgroundIndexMQ449{
background-position: left;
}

@mixin indexBoxes{
border: 0.5rem solid $background-color2;
height: 25rem;
width: 20rem;
}

@mixin Flechaabajo{
height: 4.2rem;
width: 7.5rem;
}
