.pieDePagina{
    @include flex(flex,none,space-between,center,none);
    background-color: #F9E9DD;
    padding: 1.875rem;
    .contenedorAccesoRapido{
        @include flex(flex,column,none,none,none);
        a{
            text-decoration: none;
            color: $color;
            list-style: none;
            font-size: 1.20rem;
            &:hover{
                color: rgb(173, 79, 17)
            }
        }
    }
    .contenedorRedesSociales{
        @include flex(flex,right,none,none,none);
        .seguinos{
            font-size: 1.20rem;
            text-align: right;
            font-weight: lighter;
            align-self: center;
        }
        .redes{
            li{
                display: inline;
                text-decoration: none;
                list-style: none;
            }
        }
    }
}