/*Solo index*/
.titulo2{
    font-size: 2.9375rem;
    font-weight: bolder;
    color: #4e2f2f;
    margin-top: 5rem;
    margin-left: 2rem;
    width: 23.125rem;
}

/*Todos*/
header{
    div{
        .fondoTitulo1{
            @include flex(flex,none,space-between,center,none);
            padding-right: .625rem;
            background-color: rgba(249, 233, 221, 0.6);
            .titulo1{
                font-size: 5rem;
                padding-left: 1.25rem;
                font-weight: bold;
                margin-bottom: 0;
            }
            nav{
                .menuIndex{
                    li{
                        display: inline;
                        a{
                            font-size: 1.5625rem;
                            text-decoration: none;
                            list-style: none;
                            padding-left: 1.25rem;
                        }
                    }
                }
            }
        }
        .tituloServicios {
            font-size: 2.9375rem;
            font-weight: lighter;
            background-color: rgba(249, 233, 221, 0.6);
            width: 23rem ;
            padding: 1rem;
            margin: 7rem 3rem;
        }
    }
    .fraseDePagina {
        @include flex(flex,none,center,center,none);
        display: flex;
        justify-content: center;
        background-color: #F9E9DD;
        align-items: center;
        .titulo3 {
            font-weight: lighter;
            padding: 1.5625rem;
            font-size: 1.5625rem;
            text-align: center;
        }
        a{
            img{
                height: 4.2rem;
                width: 7.5rem;
            }
        }
    }
}
