main{
    section{
        section{
            p{
                font-size: 1.25rem;
                font-weight: bold;
                padding: 1.4rem;
                padding-top: 2rem;
            }
            .items{
                margin: 0rem 5.5rem;
                list-style-image: url(../assets/imagenes/icono.png);
                li{
                    padding: 0.7rem;
                }
            }
        }
    }
    .botonTienda {
        @include botones;
    }
}