.mainFormulario{
    @include flex(flex,column,none,center,none);
    .tituloFormulario{
        font-size: 1.5rem;
        padding: 2rem 0rem 1rem 0rem;
        text-align: center;
    }
    .contenedorFormulario{
        @include flex(flex,none,center,none,none);
        .flexFormulario{
            @include flex(flex,column,center,none,none);
            input{
                padding: .625rem;
                margin: .625rem;
                width: 30rem;
                &:focus{
                    background-color: #F9E9DD;
                }
            }
            textarea{
                @extend input;
                &:focus{
                    background-color: #F9E9DD;
                }
            }
            .botonEnviar{
                @include botonFormulario;
            }
        }
        section{
            .formasDeContacto {
                font-size: 1.25rem;
                font-weight: bold;
                padding: 1.5rem;
                text-align: center;
            }
            .mailDeContacto {
                text-align: center;
                font-weight: lighter;
                width: 30rem;
            }
            a{
                .contactoWhatsapp {
                    margin-left: 50%;
                    margin-bottom: 1.25rem;
                }
            }
        }
    }
}