/* "@medias 840 enchufate */

@media (max-width: 840px) {

.gridEnchufate{      
    .musicaGim{
        iframe{
            width: 11rem;
        }
    }
}
}

/* "@medias 828 formulario */

@media (max-width: 828px) {

main{
    .contenedorFormulario{
        display: flex;
        justify-content: center;
        flex-direction: column;
        justify-items: center;
        .flexFormulario{
            display: flex;
            justify-items: center;
            justify-content: center;
            input{
                justify-self: center;
                margin-top: 0.625;
            }
            textarea{
                justify-self: center;
                margin-top: 0.625;
            }
        }
        section{
            .mailDeContacto {
                margin: auto;
            }
            a{
                .contactoWhatsapp {
                    margin-left: 50%;
                }
            }
        }
    }
}
}

/* "@medias 780 enchufate */

@media (max-width: 780px) {

.gridEnchufate {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(13,1fr);
    width: 100%;
    height: 76rem;
    grid-template-areas:
    "tituloGim"
    "tituloGim"
    "musicaGim"
    "musicaGim"
    "musicaGim"
    "musicaGim"
    "musicaGim"
    "musicaGim"
    "musicaGim"
    "musicaGim"
    "musicaGim" 
    "musicaGim"   
    "aEntrenar"
    ;
    .musicaGim{
        iframe{
            height: 5.625rem;
            width: 20rem;
        }
    }
    .responsiveImage {
        display: none;
    }
}
}

/* "@medias 768 index */

@media (max-width: 768px){

header{
    .headerIndex{
        .fondoTitulo1{
            .titulo1 {
                font-size: 4rem;
            }
            nav{
                .menuIndex{
                    li{
                        a{
                            font-size: 1.35rem; 
                        }
                    }
                }
            }
        }
    }
}

/* "@medias 768 accesorios */

header{
    .headerAccesorios{
        .fondoTitulo1{
            .titulo1 {
                font-size: 4rem;
            }
            nav{
                .menuIndex{
                    li{
                        a{
                            font-size: 1.35rem; 
                        }
                    }
                }
            }
        }
        .tituloServicios{
            font-size: 2rem;
            width: 15rem;
        }
    }
}

/* "@medias 768 rutina */

header{
    .headerRutina{
        .fondoTitulo1{
            .titulo1 {
                font-size: 4rem;
            }
            nav{
                .menuIndex{
                    li{
                        a{
                            font-size: 1.35rem; 
                        }
                    }
                }
            }
        }
        .tituloServicios{
            font-size: 2rem;
            width: 15rem;
        }
    }
}

/* "@medias 768 enchufate */

header{
    .headerEnchufate{
        .fondoTitulo1{
            .titulo1 {
                font-size: 4rem;
            }
            nav{
                .menuIndex{
                    li{
                        a{
                            font-size: 1.35rem; 
                        }
                    }
                }
            }
        }
        .tituloServicios{
            font-size: 2rem;
            width: 15rem;
        }
    }
}

/* "@medias 768 dieta(plan) */

header{
    .headerPlan{
        .fondoTitulo1{
            .titulo1 {
                font-size: 4rem;
            }
            nav{
                .menuIndex{
                    li{
                        a{
                            font-size: 1.35rem; 
                        }
                    }
                }
            }
        }
        .tituloServicios{
            font-size: 2rem;
            width: 15rem;
        }
    }
}

/* "@medias 768 ropa */

header{
    .headerRopa{
        .fondoTitulo1{
            .titulo1 {
                font-size: 4rem;
            }
            nav{
                .menuIndex{
                    li{
                        a{
                            font-size: 1.35rem; 
                        }
                    }
                }
            }
        }
        .tituloServicios{
            font-size: 2rem;
            width: 15rem;
        }
    }
}

/* "@medias 768 formulario */

header{
    .headerContacto{
        .fondoTitulo1{
            .titulo1 {
                font-size: 4rem;
            }
            nav{
                .menuIndex{
                    li{
                        a{
                            font-size: 1.35rem; 
                        }
                    }
                }
            }
        }
        .tituloServicios{
            font-size: 2rem;
            width: 15rem;
        }
    }
}
}

/* "@medias 620 index */

@media (max-width: 620px){

header{
    .headerIndex{
        .titulo2 {
            font-size: 2.4rem;
            width: 20rem;
        }
    }
}

main{
    .backgroundColor{
        .titulo4{
            font-size: 2rem;
        }
    }
    section{
        div{
            .titulo4{
                font-size: 2rem;
            }
            .gridMusica{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 3fr 1fr 1fr;
                width: 100%;
                height: 57rem;
                background-color: #F6CDA0;
                grid-template-areas:
                "textoUno"
                "photo"
                "textoDos"
                "clickAqui"
                ;
                .imagenMusica{
                    width: 25rem;
                }
            }
        }
    }
    section{
        .opiniones{
            .titulo6{
                font-size: 2rem;
            }
        }
    }
}
}