/* "@medias 840 enchufate */
@media (max-width: 840px) {
.gridEnchufate{      
    .musicaGim{
        iframe{
            width: 11rem;
        }
    }
}
}

/* "@medias 828 formulario */
@media (max-width: 828px) {
.mainFormulario{
    .contenedorFormulario{
        @include flex(flex,column,center,none,none);
        justify-items: center;
        .flexFormulario{
            @include flex(flex,none,center,none,none);
            justify-items: center;
            input{
                justify-self: center;
                margin-top: 0.625;
            }
            textarea{
                justify-self: center;
                margin-top: 0.625;
            }
        }
    }
}
}

/* "@medias 780 enchufate */
@media (max-width: 780px) {
.gridEnchufate {
    @include grid(grid,1fr,repeat(12,1fr),"tituloGim""musicaGim""musicaGim""musicaGim""musicaGim""musicaGim""musicaGim""musicaGim""musicaGim""musicaGim""musicaGim""aEntrenar");
    width: 100%;
    height: 76rem;
    .musicaGim{
        iframe{
            height: 5.625rem;
            width: 20rem;
        }
    }
    .responsiveImage {
        display: none;
    }
}
}

/* "@medias 768 todos */
@media (max-width: 768px){
header{
    div{
        .fondoTitulo1{
            .titulo1 {
                font-size: 4rem;
            }
            nav{
                .menuIndex{
                    li{
                        a{
                            font-size: 1.35rem; 
                        }
                    }
                }
            }
        }
    }
}

/* "@medias 768 todos salvo index */
header{
    div{
        .tituloServicios{
            font-size: 2rem;
            width: 15rem;
        }
    }
}
}

/* "@medias 620 index */
@media (max-width: 620px){
header{
    div{
        .titulo2 {
            font-size: 2.4rem;
            width: 20rem;
        }
    }
}

main{
    .backgroundColor{
        .titulo4{
            font-size: 2rem;
        }
    }
    section{
        div{
            .titulo4{
                font-size: 2rem;
            }
            .gridMusica{
                @include grid(grid,1fr,1fr 3fr 1fr 1fr,"textoUno""photo""textoDos""clickAqui");
                width: 100%;
                height: 57rem;
                background-color: $background-color;
                .imagenMusica{
                    width: 25rem;
                }
            }
        }
    }
    section{
        .opiniones{
            .titulo6{
                font-size: 2rem;
            }
        }
    }
}
}
