/* "@medias 1285 index */
@media (max-width: 1285px){
main{
    section{
        section{
            .gridMusica{
                .texto1 {
                    margin: 3rem;
                }
                .texto2 {
                    margin: 4rem;
                }
            }
        }
    }
}
}

/* "@medias 1275 enchufate */
@media (max-width: 1275px){
    .gridEnchufate{      
        .musicaGim{
            iframe{
                width: 30rem;
            }
        }
    }
}

/* "@medias 1045 enchufate */
@media (max-width: 1045px){
    .gridEnchufate{      
        .musicaGim{
            iframe{
                width: 22rem;
            }
        }
    }
}

/* "@medias 1024 todos */
@media (max-width: 1024px){
header{
    div{
        .fondoTitulo1{
            display: block;
        }
    }
}

/* "@medias 1024 index */
main{
    .backgroundColor{
        .contenedorQueOfrecemos{
            @include flex(flex,none,space-evenly,none,wrap);
            div{
                div{
                    section{
                        height: 30rem;
                        width: 25rem;
                    }
                }
                .contenedorResumenServicios{
                    .resumenServicios{
                        width: 25rem;
                    }
                }
            }
        }
    }
    section{
        section{
            .gridMusica{
                .texto1 {
                    font-size: 1.3rem;
                    margin: 1rem;
                }
                .texto2 {
                    font-size: 1.3rem;
                    margin: 1rem;
                }
            }
        }
    }
}

/* "@medias 1024 ropa */
main{
    .contenedorBoton{
        .botonTienda {
            margin: 1rem 0rem 1rem 1rem;
        }
    }
}

/* "@medias 1024 enchufate */
.gridEnchufate{     
    gap: .3125rem;
    .musicaGim{
        iframe{
            height: 5.625rem;
        }
    }
    .responsiveImage {
        padding-right: .625rem;
    }
}

/* "@medias 1024 formulario */
.mainFormulario{
    .contenedorFormulario{
        .flexFormulario{
            input{
                width: 25rem;
            }
            textarea{
                width: 25rem;
            }
        }
        section{
            .formasDeContacto {
                padding-left: 0;
                padding-right: 0;
            }
            .mailDeContacto {
                width: 25rem;
            }
            .contactoWhatsapp {
                margin-left: 12rem;
            }
        }
    }
}   

/* "@medias 1024 error */
.headerError{
    .flexError{
        width: 20rem;
        .gridError{
            h2{
                font-size: 1.6rem;
            }
            button{
                margin: 2rem 30%;
            }
        }
    }
}
}

/* "@medias 1000 enchufate */
@media (max-width: 1000px) {
.gridEnchufate{      
    .musicaGim{
        iframe{
            width: 15rem;
        }
    }
}
}